<div class="post">
    <div class="post-header">
        <img class="post-profile-pic" src="/static/img/profile-pics/{{reviewer.pfp}}">
        <div class="post-info">
            <div class="post-info-name">
                <a href="user/{{toLink reviewer.username}}">{{reviewer.fullname}}</a>
            </div>
            <div class="post-rating">
                <ul class="rating-scale" id="rating">
                    {{#if (isEqual review_rating 5)}}
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        
                    {{/if}}

                    {{#if (isEqual review_rating 4)}}
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="blank-star"></li>
                        
                    {{/if}}

                    {{#if (isEqual review_rating 3)}}
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        
                    {{/if}}
                    {{#if (isEqual review_rating 2)}}
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        
                    {{/if}}

                    {{#if (isEqual review_rating 1)}}
                        <li class="star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        
                    {{/if}}

                    {{#if (isEqual review_rating 0)}}
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        <li class="blank-star"></li>
                        
                    {{/if}}
                    
                </ul>
            </div>
        </div>
    </div>
    <span class="post-date">{{date_of_review}}</span>
    <p class="post-review">{{{review_description}}}
    {{#if owner_response}}
        <div class="owner-reply-container">
            <span class="owner-label"> Owner response: </span> 
            <p>{{owner_response}}</p>
        </div>
    {{/if}}
</div>