<link rel="stylesheet" type="text/css" href="/static/css/admin.css"/>
<script src="/static/js/admin-reply.js" defer></script>

<div class="overall-container">
    <div class="main-restaurant-info">
        <div class="name"> <h1 id="restaurant-name">{{restaurant.restaurant_name}}</h1> </div>

        <div class="pictures">
            <div class="pic1" style="background-image:url('/static/img/restaurant-images/{{toLink restaurant.restaurant_name}}/{{restaurant.pfp}}'); background-size:contain; background-position: center;"></div>
        </div>

        <div class="group1">
            <div class="description"> 
                <p>{{restaurant.description}}</p>
            </div>
            
            <div class="ratings">
                <div class="review-stars">
                    <ul class="star-spritegroup"> 
                        {{#each restaurant.star}}
                            <li class="{{this}}"></li>
                        {{/each}}
                    </ul>
                </div>

                <div class="review-rating">
                    {{restaurant.rating}}
                </div>
            </div>

        </div>

        <div class ="misc-info">
            <div class="price"> {{restaurant.price}} |  </div>
            <div class="tag-container">
                {{#each restaurant.tags}}
                <div class="tag">{{this}}</div>
                {{/each}}
            </div>
        </div>

    </div>

    <div class="hr"></div>

    <div class="restaurant-reviews">

        <div class="customer-reviews">
            {{#each reviews}}
                <div class="post" id="post-{{@index}}">
                    <div class="post-header">
                        <img class="post-profile-pic" src="/static/img/profile-pics/{{reviewer_pfp}}">
                        <div class="post-info">
                            <div class="post-info-name" id="reviewer-name-{{@index}}">{{reviewer_name}}</div>
                            <div class="post-rating">
                                <ul class="star-spritegroup" id="rating-{{@index}}">
                                    {{#if (isEqual review_rating 5)}}
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="star"></li>
                                    {{/if}}

                                    {{#if (isEqual review_rating 4)}}
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="blank-star"></li>
                                        
                                    {{/if}}

                                    {{#if (isEqual review_rating 3)}}
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        
                                    {{/if}}
                                    {{#if (isEqual review_rating 2)}}
                                        <li class="star"></li>
                                        <li class="star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        
                                    {{/if}}

                                    {{#if (isEqual review_rating 1)}}
                                        <li class="star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        
                                    {{/if}}

                                    {{#if (isEqual review_rating 0)}}
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        <li class="blank-star"></li>
                                        
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span class="post-date" id="date-of-review-{{@index}}">{{date_of_review}}</span>
                    <p class="post-review" id="review-description-{{@index}}">{{{review_description}}}</p>
                    <div class="admin-reply"> 
                        <form id="edit-reply-{{@index}}">
                                {{#if owner_response}}
                                <div class="left">
                                    <input type="text" id="owner-response-{{@index}}" value="{{owner_response}}"> </input>
                                </div>
                                <div class="index-reply-button">
                                    <button type="submit" class="index-reply" value="submit" id="button-{{@index}}" onclick="reply('{{@index}}')"> 
                                        <span class="index-submit-reply">Edit</span>
                                    </button>
                                </div>
                                {{else}}
                                <div class="left">
                                    <input type="text" id="owner-response-{{@index}}" placeholder="Reply to review ..."/>
                                </div>
                                <div class="index-reply-button">
                                    <button type="submit" class="index-reply" value="submit" id="button-{{@index}}" onclick="reply('{{@index}}')"> 
                                        <span class="index-submit-reply">Reply</span>
                                    </button>
                                </div>
                                {{/if}}
                        </form>
            
                    </div>
                </div>
            {{/each}}
        
        </div>
    </div>
</div>

