<link rel="stylesheet" type="text/css" href="/static/css/user.css"/>
<link rel="stylesheet" type="text/css" href="static/css/establishment.css"/>
<div class="content-container">
    <div class="left">
        <div class="profile">
            <div class="profile-pic">
                <img src="/static/img/profile-pics/{{user.pfp}}">
            </div>
            <div class="profile-information">
                <h4>{{user.fullname}}</h4> <!-- remove name -->
            </div>
        </div>
        <div class="reviews-container">
            <div class="my-reviews">
                <div class="group">
                    <span class="star"></span>
                    <h4>My Reviews</h4>
                </div>
                <h5 class="profile-num"> 
                    {{#if (gt user.reviews.length 1)}}
                        {{user.reviews.length}} Reviews
                    {{else}}
                        {{user.reviews.length}} Review
                    {{/if}}
                </h5>
            </div>
        </div>

    </div>
    <div class="right">
        <div class ="main-section">
            <div class="review-section"> 
                
                <div class="heading">
                    <h3> Reviews </h3>
                    <div class="sort-container">
                        <label for="sort-by"> Sort by </label>
                         <form action="" method="GET">
                            <select name="sort-by" class="sort-by" onchange="this.form.submit()">
                                {{#if selected}}
                                    {{#if selected.latest}}
                                        <option value="latest" selected> Latest first </option> 
                                        <option value="oldest"> Oldest first </option> 
                                        <option value="highest"> Highest rating </option> 
                                        <option value="lowest"> Lowest rating </option> 
                                    {{/if}}
                                    {{#if selected.oldest}}
                                        <option value="latest"> Latest first </option> 
                                        <option value="oldest" selected> Oldest first </option> 
                                        <option value="highest"> Highest rating </option> 
                                        <option value="lowest"> Lowest rating </option> 
                                    {{/if}}
                                    {{#if selected.highest}}
                                        <option value="latest"> Latest first </option> 
                                        <option value="oldest"> Oldest first </option> 
                                        <option value="highest" selected> Highest rating </option> 
                                        <option value="lowest"> Lowest rating </option> 
                                    {{/if}}
                                    {{#if selected.lowest}}
                                        <option value="latest"> Latest first </option> 
                                        <option value="oldest"> Oldest first </option> 
                                        <option value="highest"> Highest rating </option> 
                                        <option value="lowest" selected> Lowest rating </option> 
                                    {{/if}}
                                {{else}}
                                    <option value="latest" selected> Latest first </option> 
                                    <option value="oldest"> Oldest first </option> 
                                    <option value="highest"> Highest rating </option> 
                                    <option value="lowest" selected> Lowest rating </option> 
                                {{/if}}
                            </select>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="customer-reviews">
                    {{#each user.reviews}} 
                        {{> review review=this}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>