<link rel="stylesheet" type="text/css" href="static/css/establishment.css"/>
<script src="/static/js/restaurants.js" defer></script>

<div class="main-restaurant-info">

    <div id="name">  <h1> {{restaurant_name}} </h1>  </div>

    <div class="pictures">
        <div class="pic1" style="background-image:url('/static/img/restaurant-images/{{toLink restaurant_name}}/{{images.[0]}}'); background-size:cover"></div>
        <div class="second-half">
            <div class="pic2" style="background-image:url('/static/img/restaurant-images/{{toLink restaurant_name}}/{{images.[1]}}'); background-size:cover"></div>
            <div class="pic3" style="background-image:url('/static/img/restaurant-images/{{toLink restaurant_name}}/{{images.[2]}}'); background-size:cover"></div>
            <div class="pic4" style="background-image:url('/static/img/restaurant-images/{{toLink restaurant_name}}/{{images.[3]}}'); background-size:cover"></div>
            <div class="pic5" style="background-image:url('/static/img/restaurant-images/{{toLink restaurant_name}}/{{images.[4]}}'); background-size:cover"></div>
        </div>
        
    </div>

    <div class="group1">
        <div class="description"> 
            <p> 
                {{description}}
            </p>
        </div>
        
        <div class="ratings">
            <div class="review-stars">
                <ul class="star-spritegroup"> 
                    {{#each star}} 
                        <li class="{{this}}"></li>
                    {{/each}}
                </ul>
            </div>

            <div class="review-rating">
                {{rating}}
                <span class="subtext">({{review_num}} reviews)</span>
            </div>
        </div>

    </div>

    <div class ="misc-info">
        <div class="price"> {{price}} |  </div>
        <div class="tag-container">
            {{#each tags}}
                <div class="tag">{{this}}</div>
            {{/each}}
        </div>
    </div>

</div>

<div class="hr"></div>

<div class="restaurant-info">
    <div class="group2"> 
        <div class="action-group">
            <!--add functionality-->
            <button class="button share-sprite" id="share-button"> <i class="share"></i> Share </button>
            <button class="button bookmark-sprite" id="save-button"> <i class="bookmark"></i> <span> Save </span> </button>
            <button class="button photo-sprite" id="add-photo-button"> <i class="photo"></i> <span> Add Photo </span> </button>
        </div>
        <div>
            <div id="write-a-review" class="button-review">
            <!--reroute reveiws-->
            <a id="write-review" href="/{{toLink restaurant_name}}/writeareview" >
            {{!-- <a id="write-review"></a> --}}
                <button type="button" class="button write-review">Write a Review</button>
            </a>
            </div>
            <div id="error-message" style="display: none; color: #873b3b;">You must be logged in to write a review.</div>
        </div>
        
    </div>
    <div class="group3">

        <div class="content"> 
            <div class="hr2"> </div>
            <div class="bold">Menu </div>
            <iframe src= "/static/pdf/{{menu}}" class="image-container menu"></iframe>

            <div class="hr2"> </div>
            
            <div class="reviews-section">
                <div class="bold">Recommended Reviews </div>
                <div> Average rating will appear after 3 reviews </div>
                <br>
                <div class="customer-reviews">
                    {{#each resto_reviews}}
                        {{> review}}
                    {{/each}}
                </div>
            </div>
                
        </div>

        <div class="side-bar"> 
            <div class="loc-info"> <span class="location-sprite"> </span> <span class="bold"> Location </span> </div>
            
            <!-- make the source a handlebar -->
            <iframe class="image-container directions" src="{{map_link}}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            <div>
                <span class="details"> {{address}} </span> 
            </div>
            <div class="number"> <span class="phone-sprite"></span> <span class="num">| {{phone_number}} </span></div>
        </div>

    </div>
</div>
