<link rel="stylesheet" type="text/css" href="/static/css/user.css"/>
<div class="content-container">
    <div class="left">
        <div class="profile">
            <div class="profile-pic">
                <img src="/static/img/profile-pics/{{reviewer_pfp}}">
            </div>
            <div class="profile-information">
                <h4>{{name}} Josh hutcherson</h4> <!-- remove name -->
            </div>
            <div class="profile-controls">
                <div>
                    <form action="/user/edit" method="GET">
                        <button class="edit-profile"></button>
                    </form>
                    Edit Profile
                </div>
                <div>
                    <form action="" method="">
                        <button class="add-photo"></button>
                    </form>
                    Add Photo
                </div>
                <div>
                    <form action="" method="">
                        <button class="delete-profile"></button>
                    </form>
                    Delete Profile
                </div>
            </div>
        </div>
        <div class="reviews-container">
            <div class="my-reviews">
                <div class="group">
                    <span class="star"></span>
                    <h4>My Reviews</h4>
                </div>
                <h5 class="profile-num"> 
                    {{#if (gt user.reviews.length 1)}}
                        {{user.reviews.length}} Reviews
                    {{else}}
                        {{user.reviews.length}} Review
                    {{/if}}
                </h5>
            </div>
        </div>

    </div>
    <div class="right">
        <div class ="main-section">
            <div class="review-section"> 
                
                <div class="heading">
                    <h3> Reviews </h3>
                    <div class="sort-container">
                        <label for="sort-by"> Sort by </label>
                        <select name="sort-by" class="sort-by"> 
                        <option value="Latest"> Latest first </option> 
                        <option value="Oldest"> Oldest first </option> 
                        <option value="Highest"> Highest rating </option> 
                        <option value="Lowest"> Lowest rating </option> 
                    </select>
                    </div>
                </div>
                <hr>
                <div class="customer-reviews">
                    {{#each user.reviews}} 
                        {{> review review=this}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>